<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wdth@50..200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <section class="section-1">
        <div class="container">
            <div class="foto-container">
                <img src="../assets/perfil/Perfil.jpg" alt="foto-perfil" class="foto-perfil">
                <i class="ph ph-code" id="dev-simbolo"></i>
            </div>
        </div>
        <h3 class="primary-text title-aling">Hello World! Meu nome é<span>&nbsp;Cesar Augusto&nbsp;</span>e sou</h3>
        <h1 class="title-aling">Desenvolvedor FullStack</h1>
        <p class="title-aling padPTop">Transformo necessidades em aplicações reais, evolventes e funcionais. Desenvolvo
            sistemas
            através </br> da minha
            paixão
            pela tecnologia, contribuindo com soluções inovadoras e eficazes para desafios complexos.</p>
        <div class="flex gap-16">
            <div class="stacks">
                <img src="../assets/icons-tech/HTML.svg" alt="html-logo">
                <p>HTML</p>
            </div>
            <div class="stacks">
                <img src="../assets/icons-tech/CSS.svg" alt="css-logo">
                <p>CSS</p>
            </div>
            <div class="stacks">
                <img src="../assets/icons-tech/JavaScript.svg" alt="JavaScript-logo">
                <p>JavaScript</p>
            </div>
            <div class="stacks">
                <img src="../assets/icons-tech/React.svg" alt="React-logo">
                <p>React</p>
            </div>
            <div class="stacks node">
                <img src="../assets/icons-tech/NodeJS.svg" alt="Node.js-logo">
                <p>Node.JS</p>
            </div>
            <div class="stacks">
                <img src="../assets/icons-tech/GitHub.svg" alt="GitHub-logo">
                <p>GitHub</p>
            </div>
        </div>
    </section>
    <i class="ph ph-caret-double-down" alt="ing-seta-baixo"></i>
    <h3 class="secundary-text title-aling">Meu Trabalho</h3>
    <h2 class="title-aling">Veja os projetos em destaque</h2>
    <Section class="section-2 grid grid-flow-col gap-24">

        <div class="card">
            <a href="https://github.com/Cesar19Augusto/Curso_FullStack_Rocketseat/tree/main/Projeto%20Travelgram">
                <img src="../assets/background/Thumbnail_Project-01.png" alt="" class="card-box">
                <p>Travelgram</p>
                <p>Rede social onde as pessoas mostram os registros de suas viagens pelo mundo</p>
            </a>
        </div>
        <div class="card">
            <a
                href="https://github.com/Cesar19Augusto/Curso_FullStack_Rocketseat/tree/main/Projeto%20Portal%20de%20noticias">
                <img src="../assets/background/Thumbnail_Project-02.png" alt="" class="card-box">
                <p>Tech News</p>
                <p>Homepage de um portal de notícias sobre a área de tecnologia</p>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/Cesar19Augusto/Curso_FullStack_Rocketseat/tree/main/Primeiro%20Projeto">
                <img src="../assets/background/Thumbnail_Project-03.png" alt="" class="card-box">
                <p>Página de receita</p>
                <p>Página com o passo a passo de uma receita para cupcakes</p>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/Cesar19Augusto/Curso_FullStack_Rocketseat/tree/main/01-Desafio-Local_Turistico">
                <img src="../assets/background/Thumbnail_Project-06.png" alt="" class="card-box">
                <p>Página de turismo</p>
                <p>Página com as principais informações para quem quer viajar para Busan</p>
            </a>
        </div>
        <div class="card">
            <a
                href="https://github.com/Cesar19Augusto/Curso_React_Rocketseat/tree/main/Primeiro_Projeto-Vers%C3%A3o_TS">
                <img src="../assets/background/ignite_feed.png" alt="" class="card-box">
                <p>Ignite Feed</p>
                <p>Rede social para programadores compartilharem ideias e feedbacks.</p>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/Cesar19Augusto/Calculadora-de-IMC">
                <img src="../assets/background/Calculadora IMC.png" alt="" class="card-box">
                <p>Calculadora IMC</p>
                <p>Calculadora de IMC que informa a faixa de saúde com base no peso e altura.</p>
            </a>
        </div>
    </Section>
    <section class="background">
        <h3 class="secundary-text title-aling aling">Meus serviços</h3>
        <h2 class="title-aling">Como posso ajudar o seu negócio</h2>
        <section class="section-3 gap-24 ">
            <div class="card-2">
                <i class="ph ph-desktop-tower" id="icon-purple" alt="Web-simbolo"></i>
                <p class="pJust1">Websites e Aplicativos</p>
                <p class="pJust2">Desenvolvimento de interfaces</p>
            </div>
            <div class="card-2">
                <i class="ph ph-hard-drives" id="icon-yellow" alt="BD-simbolo"></i>
                <p class="pJust1">API e banco de dados</p>
                <p class="pJust2">Criação de serviços do sistema </p>
            </div>
            <div class="card-2">
                <i class="ph ph-infinity" id="icon-green" alt="DevOps-simbolo"></i>
                <p class="pJust1">DevOps</p>
                <p class="pJust2">Gestão e infraestrutura da aplicação</p>
            </div>
        </section>
    </section>
    <section class="section-4">
        <h3 class="tree-text title-aling">Contato</h3>
        <h2 class="title-aling">Gostou do meu trabalho? </h2>
        <p class="title-aling pStyle">Entre em contato ou acompanhe as minhas redes sociais!</p>
        <div class="container-2">
            <a href="https://www.linkedin.com/in/cesaraugusto875/" class="contact-button">
                <i class="ph ph-linkedin-logo" id="icon-logo" alt="Linkedin-logo"></i>
                <p class="nameLinks">Linkedin</p>
                <i class="ph ph-arrow-up-right" id="icon-seta" alt="icon-seta"></i>
            </a>

            <a href="https://www.linkedin.com/in/cesaraugusto875/" class="contact-button">
                <i class="ph ph-instagram-logo" id="icon-logo" alt="Instagram-logo"></i>
                <p class="nameLinks">Instagram</p>
                <i class="ph ph-arrow-up-right" id="icon-seta" alt="icon-seta"></i>
            </a>

            <a href="https://github.com/Cesar19Augusto" class="contact-button">
                <i class="ph ph-github-logo" id="icon-logo" alt="GitHub-logo"></i>
                <p class="nameLinks">GitHub</p>
                <i class="ph ph-arrow-up-right" id="icon-seta" alt="icon-seta"></i>
            </a>

            <a href="mailto:augustocesar875@gmail.com" class="contact-button">
                <i class="ph ph-envelope-simple" id="icon-logo" alt="E-mail-logo"></i>
                <p class="nameLinks">E-mail</p>
                <i class="ph ph-arrow-up-right" id="icon-seta" alt="icon-seta"></i>
            </a>
        </div>
    </section>
</body>

</html>